In [8]:
a=0

for i in range(1,11):
    a+=i
print(a)

55

In [19]:
p=int(input("Price of bike "))
if p<=50000:
    t=p/100*5
    OnRoad=p+t
    print("Tax on your bike is",t)
    print("On road price of your bike is",OnRoad)
elif p>50000 and p<=100000:
    t=p/100*10
    OnRoad=p+t
    print("Tax on your bike is",t)
    print("On road price of your bike is",OnRoad)
else:
    t=p/100*15
    OnRoad=p+t
    print("Tax on your bike is",t)
    print("On road price of your bike is",OnRoad)

Price of bike 105000
Tax on your bike is 15750.0
On road price of your bike is 120750.0

In [6]:
a=int(input("Enter starting range "))
b=int(input("Enter ending range "))
c=b+1
d=int(input("Gap between two numbers "))
for i in range(a,c,d):
    print(i)

Enter starting range 1
Enter ending range 10
Gap between two numbers 2
1
3
5
7
9

In [7]:
for i in range(1,10,0.5):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [29]:
for i in range(1,51):
    a=i*i*i*i*i*i*i*i*i
    b=a**1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [46]:
a=int(input("Enter a number "))

for i in range(1,11):
    b=a*i
    print(a,"x",i,"=",b)

Enter a number 36
36 x 1 = 36
36 x 2 = 72
36 x 3 = 108
36 x 4 = 144
36 x 5 = 180
36 x 6 = 216
36 x 7 = 252
36 x 8 = 288
36 x 9 = 324
36 x 10 = 360

In [55]:
a=int(input("Enter a number "))
b=a+1
   
for i in range(1,b):
   if a%i==0:
       print(i)

Enter a number 658
1
2
7
14
47
94
329
658