In [3]:
# Write a Python program to create a tuple.

a=('abc',True,15,36,3.56,'python',False)
print(a)
type(a)

('abc', True, 15, 36, 3.56, 'python', False)

tuple

In [4]:
# Write a Python program to create a tuple with different data types.

a=('python',100,True,11.5)
print(a)
type(a)

('python', 100, True, 11.5)

tuple

In [7]:
# Write a Python program to create a tuple with numbers and print one item.

a=(12,35,45,22,3,11)
print(a[3])

22

In [9]:
# Write a Python program to add an item in a tuple.

a=(12,35,45,22,3,11)
print(a)
b=list(a)
b.append(50)
c=tuple(b)
print(c)

(12, 35, 45, 22, 3, 11)
(12, 35, 45, 22, 3, 11, 50)

In [79]:
# Write a Python program to convert a tuple to a string.

a=('abc',True,15,36,3.56,'python',False)
b=str(a)
print(b)
type(b)

('abc', True, 15, 36, 3.56, 'python', False)

str

In [17]:
# Write a Python program to convert a list to a tuple.

a=[12,51,5,15,6]
print(a)
b=tuple(a)
print(b)

[12, 51, 5, 15, 6]
(12, 51, 5, 15, 6)

In [19]:
# Write a Python program to remove an item from a tuple.

a=(12,35,45,22,3,11)
print(a)
b=list(a)
b.pop()
c=tuple(b)
print(c)

(12, 35, 45, 22, 3, 11)
(12, 35, 45, 22, 3)

In [20]:
# Write a Python program to find the index of an item of a tuple.

a=(12,35,45,22,3,11)
a.index(45)

2

In [22]:
# Write a Python program to reverse a tuple.

a=(12,35,45,22,3,11)
print(a)
b=list(a)
b.reverse()
c=tuple(b)
print(c)

(12, 35, 45, 22, 3, 11)
(11, 3, 22, 45, 35, 12)

In [23]:
# Write a Python program calculate the product, multiplying all the numbers of a given tuple. 
# Original Tuple: (4, 3, 2, 2, -1, 18)

t=(4, 3, 2, 2, -1, 18)
mul=1
for i in t:
    mul=mul*i
print(mul)

-864

In [24]:
# Python – Adding Tuple to List.

a=[12,35,45,22,3,11]
t=(4, 3, 2, 2, -1, 18)
b=list(t)
for i in b:
    a.append(i)
print(a)

[12, 35, 45, 22, 3, 11, 4, 3, 2, 2, -1, 18]

In [25]:
# Python – Adding List to Tuple.

a=[12,35,45,22,3,11]
t=(4, 3, 2, 2, -1, 18)
b=list(t)
for i in a:
    b.append(i)
c=tuple(b)
print(c)

(4, 3, 2, 2, -1, 18, 12, 35, 45, 22, 3, 11)

In [ ]:
# Python program to find tuples which have all elements divisible by K from a list of tuples.

In [65]:
# Python – Removing duplicates from tuple.

a=(1,2,4,3,1,6,4,2,6,5,1,2,7,7)
b=list(a)
for i in b:
    if b.count(i)>1:
        b.remove(i)
c=tuple(b)        
print(c)

(3, 6, 4, 6, 5, 1, 2, 7)