In [3]:
emp={
    'emp_id':1,
    'salary':10000
}

In [4]:
print(emp)

{'emp_id': 1, 'salary': 10000}

In [5]:
type(emp)

dict

# Slicing

In [8]:
emp['salary']

10000

In [9]:
s={
    'name':['A','B','C'],
    'age':(34,45,23),
    'marks':(56,90,1)
}

In [10]:
print(s)

{'name': ['A', 'B', 'C'], 'age': (34, 45, 23), 'marks': (56, 90, 1)}

In [18]:
s['marks'][0]

56

In [22]:
s['name'][0]='X'

In [24]:
s['name'][1]='Y'

In [25]:
s['name'][2]='Z'

In [26]:
print(s)

{'name': ['X', 'Y', 'Z'], 'age': (34, 45, 23), 'marks': (56, 90, 1)}

In [27]:
s['name']=['X','Y','Z']

In [28]:
s

{'name': ['X', 'Y', 'Z'], 'age': (34, 45, 23), 'marks': (56, 90, 1)}

In [37]:
# wap to make an empty dict.

a={
    
}

In [38]:
a

{}

In [39]:
# wap to make an single element dict.

b={
    "A":1
}

In [40]:
b

{'A': 1}

In [43]:
# wap to make a dict inside dict.

c={
    'name':123,
    'A':{
        'ABC':'XYX',
        'marks':12
    }
}

In [44]:
c

{'name': 123, 'A': {'ABC': 'XYX', 'marks': 12}}

In [45]:
c['A']['marks']

12

# To be done
keys, vales, items, update

In [51]:
s.items()

dict_items([('name', ['X', 'Y', 'Z']), ('age', (34, 45, 23)), ('marks', (56, 90, 1))])