In [22]:
class car:
    def __init___(self,cs,cd):
        self.cs=cs
        self.cd=cd
    
class bike(car):
    def __init__(self,cs,cd,bs,bd):
        super(). __init__(cs,cd)
        self.bs=bs
        self.bd=bd
#        b_speed=c_speed
 #       b_dis=c_speed
    
#    def time():
 #       t=self.b_dis/self.b_speed
  #      return t

b = bike(67,6,8,5)

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [23]:
b.bs

8

In [24]:
b.cs

AttributeError: 'bike' object has no attribute 'cs'

In [36]:
class car:
    def __init___(self,cs,cd):
        self.cs=cs
        self.cd=cd
    
class bike(car):
    def __init__(self,cs,cd):
        car.__init__(self,cs,cd)

a=bike(5,6)

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [45]:
class car:
    def __init__(self,s,d):
        self.s=s
        self.d=d
        
class bike(car):
    def __init__(self,s,d):
        car.__init__(self,s,d)
        
    def time(self):
        t=self.d/self.s
        return t
        
a=bike(67,189)
a.time()

2.8208955223880596

In [43]:
a.s

67

In [49]:
class stu:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
class marks(stu):
    def __init__(self,name,age,mark):
        super().__init__(name,age)
        self.mark=mark
        
class school:
    def __init__(self,sc):
        self.sc=sc
        
m=marks("abc",18,50)
s=school("bns")

In [50]:
s.sc

'bns'

In [51]:
m.mark

50

In [55]:
class stu:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
class marks:
    def __init__(self,mark):
        self.mark=mark
        
class school(stu):
    def __init__(self,name,age,sc):
        super().__init__(name,age)
        self.sc=sc
        
m=marks(50)
s=school("abc",18,"bns")

In [56]:
s.name

'abc'

In [57]:
class stu:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
class marks:
    def __init__(self,mark):
        self.mark=mark
        
class school(marks):
    def __init__(self,mark,sc):
        super().__init__(mark)
        self.sc=sc
        
st=stu("abc",18)
s=school(88,"bns")

In [58]:
st.name

'abc'

In [59]:
s.mark

88

In [62]:
class stu:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
class marks(stu):
    def __init__(self,name,age,mark):
        super().__init__(name,age)
        self.mark=mark
        
class school(marks):
    def __init__(self,name,age,mark,sc):
        super().__init__(name,age,mark)
        self.sc=sc
        
s=school("abc",18,88,"bns")

In [63]:
s.name,s.age,s.mark,s.sc

('abc', 18, 88, 'bns')